@model Client_Application.Model.Cliente
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Edit";
    Layout = "../Shared/_Layout.cshtml";
}

<h1>Editar Cliente</h1>

<h4>Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco.Cep" class="control-label"></label>
                <input asp-for="Endereco.Cep" class="form-control" />
                <span asp-validation-for="Endereco.Cep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco.Logradouro" class="control-label"></label>
                <input asp-for="Endereco.Logradouro" class="form-control" />
                <span asp-validation-for="Endereco.Logradouro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco.Complemento" class="control-label"></label>
                <input asp-for="Endereco.Complemento" class="form-control" />
                <span asp-validation-for="Endereco.Complemento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco.Bairro" class="control-label"></label>
                <input asp-for="Endereco.Bairro" class="form-control" />
                <span asp-validation-for="Endereco.Bairro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco.Localidade" class="control-label"></label>
                <input asp-for="Endereco.Localidade" class="form-control" />
                <span asp-validation-for="Endereco.Localidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco.Uf" class="control-label"></label>
                <input asp-for="Endereco.Uf" class="form-control" />
                <span asp-validation-for="Endereco.Uf" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
